body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    
}
h1 {  
    font-family: 'Montserrat', 'sans-serif';  
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}
.fas{
    padding-bottom: 5%;
    color:#ff4c68;
    opacity: 0.7;
}
.fas:hover{
    opacity: 1;
}
#features{
    padding:7% 15%;
    background-color: white;
    position: relative;
    z-index:1;
}
p{
    color:#8f8f8f;
}
h3{
    
    font-family: 'Montserrat';
}
.c{
    text-align: center;
    padding-left:3.5%;
    padding-right:3.5%;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}
.t{
    margin: 5% 3% 5% 0;
}
.t-i{
    width:20%;
    transform:rotate(25deg);
    position: absolute;
    left:800px;
}
.main{
    padding: 3% 15% 7%;
}
#testimonials{
    padding:7% 15%;
    text-align: center;
    background-color: #ff4c68;
    color:#fff;
}
#press{
    text-align: center;
    background-color: #ff4c68;
    padding-bottom: 3%;
}
#pricing{
    padding : 7% 15%;
    text-align: center;
    align-items: center;
}
.carousel-item{
    padding : 7% 15%;
}
.press-i{
    margin: 50px 20px 50px;
    width: 15%;
}
.profile{
    width:10%;
    height: 10%;
    border-radius: 100%;
    margin:20px;
}
h2{
    font-family: 'Montserrat-Bold';
    font-size: 3rem;
    line-height: 1.5;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    font-family: 'Montserrat';
    padding : 7% 15%;
    color:#fff;
}
#footer{
    padding:7% 15%;
    text-align: center;
}
.r{
    margin:20px 10px;
    width:10px;
}
.r:hover{
    transform:scale(1.4);
}
@media (max-width:1028px)
{
    .t-i{
        position : static;
        transform: rotate(0deg);
    }
    h1{
        text-align: center;
    }
    #title{
        text-align: center;
    }
}